@{
    string UserName = (string)ViewData["Username"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NewsWebApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NewsWebApplication.styles.css" asp-append-version="true" />
    @*用户按钮*@
    <link rel="stylesheet" href="~/fonts/font_xfw3vy59ccs/iconfont.css" />
    @*用户反馈*@
    <link rel="stylesheet" href="~/fonts/font_f6lun5jq3l/iconfont.css" />
    @*历史记录*@
    <link rel="stylesheet" href="~/fonts/font_1qiart5hja3/iconfont.css" />
    @*退出*@
    <link rel="stylesheet" href="~/fonts/font_ob2yxq5jxn/iconfont.css" />
    @*刷新*@
    <link rel="stylesheet" href="~/fonts/font_pc91p14nhe/iconfont.css" />
    @*向上*@
    <link rel="stylesheet" href="~/fonts/font_lgwa9q5jwc/iconfont.css" />
    <link rel="stylesheet" href="~/fonts/font_hoe6is2bej7/iconfont.css" />
    <link rel="stylesheet" href="~/fonts/font_t495264e78/iconfont.css" />
    <link rel="stylesheet" href="~/fonts/font_o0i0id7rif/iconfont.css" />
    <script src="/lib//jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/layer-v3.5.1//src/layer.js"></script>
    <script src="/js/site.js"></script>
</head>
<body>
    <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white box-shadow mb-0">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">快捷新闻</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" style="min-width:50px" asp-area="" asp-controller="Home" asp-action="Index">主页</a>
                            </li>
@*                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>*@
                            <li class="container-fluid">
                                <form class="bs-example bs-example-form" role="form" style="margin:8px" action="/Home/Search" method="post">
                                    <div class="col-lg-auto">
                                        <div class="input-group">
                                        <input type="text" class="form-control" id="search" name="search">
                                            <span class="input-group-btn">
                                                @*<a asp-controller="Home" asp-action="Search">*@
                                                <input class="btn btn-default" type="submit" value="搜索">
                                                <span class="glyphicon glyphicon-search"></span>
                                                </input>
                                                @*</a>*@
                                            </span>
                                        </div><!-- /input-group -->
                                    </div><!-- /.col-lg-6 -->
                                </form>
                            </li>
                        </ul>
                    </div>
                    <div class="User-info">
                        @if (ViewData["UserName"] != null){
                            <button type="button" class="btn btn-default btn-lg" onclick="showInfoBox()">
                            <span class="glyphicon glyphicon-user"></span>@UserName
                            </button>        
                            <div class="User-infobox">
                                <strong style="font-size:20px;">@UserName</strong>
                                <ul>
                                    <li onclick="check()"><i class="iconfont" style="margin-right:5px">&#xe6a4</i>个人信息</li>
                                    <li onclick="history()"><i class="iconfont" style="margin-right:5px">&#xeb7b</i>历史记录</li>
                                    <li onclick="feedback()"><i class="iconfont" style="margin-right:5px">&#xe738</i>用户反馈</li>
                                </ul>
                                <div class="logout" onclick="Logout()"><i class="iconfont" style="margin-right:5px">&#xe892</i>退出</div>
                        </div>
                    }
                    else
                    {
                        <a asp-area="" asp-controller="Login" asp-action="Index">
                            <button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-user"></span></button>
                        </a>
                    }
                </div>
                </div>
            </nav>
            @*选择标签导航栏*@
            <nav class="navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-1">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <ul class="nav nav-pills col-md-offset-2">
                                <li class="nav-item">
                                    <div class="Tag-List-Pill"><a href="/Home/Channel/?column=科技" class="btn btn-outline-primary btn-sm " role="button" aria-pressed="true">科技</a></div>
                                </li>
                                <li class="nav-item">
                                    <div class="Tag-List-Pill"><a href="/Home/Channel/?column=旅游" class="btn btn-outline-primary btn-sm " role="button" aria-pressed="true">旅游</a></div>
                                </li>
                                <li class="nav-item">
                                    <div class="Tag-List-Pill"><a href="/Home/Channel/?column=时尚" class="btn btn-outline-primary btn-sm " role="button" aria-pressed="true">时尚</a></div>
                                </li>
                                <li class="nav-item">
                                    <div class="Tag-List-Pill"><a href="/Home/Channel/?column=教育" class="btn btn-outline-primary btn-sm " role="button" aria-pressed="true">教育</a></div>
                                </li>
                                <li class="nav-item">
                                    <div class="Tag-List-Pill"><a href="/Home/Channel/?column=健康" class="btn btn-outline-primary btn-sm " role="button" aria-pressed="true">健康</a></div>
                                </li>
                                <li class="nav-item">
                                    <div class="Tag-List-Pill"><a href="/Home/Channel/?column=艺术" class="btn btn-outline-primary btn-sm " role="button" aria-pressed="true">艺术</a></div>
                                </li>
                                <li class="nav-item">
                                    <div class="Tag-List-Pill"><a href="/Home/Channel/?column=体育" class="btn btn-outline-primary btn-sm " role="button" aria-pressed="true">体育</a></div>
                                </li>
                                <li class="nav-item">
                                    <div class="Tag-List-Pill"><a href="/Home/Channel/?column=娱乐" class="btn btn-outline-primary btn-sm " role="button" aria-pressed="true">娱乐</a></div>
                                </li>
                                <li class="nav-item">
                                    <div class="Tag-List-Pill"><a href="/Home/Channel/?column=游戏" class="btn btn-outline-primary btn-sm " role="button" aria-pressed="true">游戏</a></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - 快捷新闻 -
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
