@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE HTML>
<html lang="en">
    <head>
        <script src="/lib//jquery/dist/jquery.min.js"></script>
        <script src="/js/Home-index.js"></script>
        <link rel="stylesheet" href="~/css/Home-index.css" asp-append-version="true" />
        <link rel="stylesheet" href="./fonts/font_pc91p14nhe/iconfont.css"/>
        <link rel="stylesheet" href="./fonts/font_lgwa9q5jwc/iconfont.css"/>
        <link rel="stylesheet" href="./fonts/font_hoe6is2bej7/iconfont.css" />
        <link rel="stylesheet" href="./fonts/font_t495264e78/iconfont.css" />
    </head>
    <body>
@*    <div class="text-center">
        <h1 class="display-4">Welcom</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

    <form class="bs-example bs-example-form" role="form">
        <div class="col-lg-8">
            <div class="input-group">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </form>*@

    <div>
        <nav class="row mt-4">
            <div class="nav nav-tabs">
                <a class="nav-item nav-link active" data-toggle="tab" href="#home">今日要闻</a>
                <a class="nav-item nav-link disabled" data-toggle="tab" style="margin-left:auto" id="time"> </a>
            </div>
        </nav>

        @*导航下的整一个div*@
        <div class="content">
            <div class="left">
                <div class="CachartAndHeatList">
                    <div style="width:70%;height:400px;border-bottom-style:solid;border-color:rgb(239,239,239);display:flex">
                        <div class="Cachart_container">
                            <ul>
                                <li>
                                    <img src="./1.png">
                                </li>
                                <li>
                                    <img src="./2.png">
                                </li>
                                <li>
                                    <img src="./3.png">
                                </li>
                                <li>
                                    <img src="./4.png">
                                </li>
                                <li>
                                    <img src="./5.png">
                                </li>
                            </ul>
                            <div class="ol_list">
                                <ol>
                                    <li class="current"></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ol>
                            </div>
                        </div>
                        <div class="Cachart_container_after">
                            <div class="after_img">
                                <img src="./1.png">
                            </div>
                            <div class="after_img">
                                <img src="./1.png">
                            </div>
                        </div>
                        
                    </div>

                    <div class="HeatList">
                        <div class="List">
                            <div class="Header">热点榜</div>
                                <ul>
                                    <li><div class="rankIcon-num1">1</div><a href="#">江泽民伟大光辉的一生</a></li>
                                    <li><div class="rankIcon-num2">2</div><a href="#">水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水</a></li>
                                    <li><div class="rankIcon-num3">3</div><a href="#">江泽民伟大光辉的一生</a></li>
                                    <li><div class="rankIcon">4</div><a href="#">江泽民伟大光辉的一生</a></li>
                                    <li><div class="rankIcon">5</div><a href="#">江泽民伟大光辉的一生</a></li>
                                    <li><div class="rankIcon">6</div><a href="#">江泽民伟大光辉的一生</a></li>
                                    <li><div class="rankIcon">7</div><a href="#">江泽民伟大光辉的一生</a></li>
                                    <li><div class="rankIcon">8</div><a href="#">江泽民伟大光辉的一生</a></li>
                                    <li><div class="rankIcon">9</div><a href="#">江泽民伟大光辉的一生</a></li>
                                    <li style="border-bottom-style:none;"><div class="rankIcon">10</div><a href="#">江泽民伟大光辉的一生</a></li>
                                </ul>
                        </div>
                    </div>
                </div>

                <div class="NewsList">
                    <div class="Header">
                        <div style="font-family:STKaiti;font-size:2vw;margin-top:-25px">热点精选</div>
                    </div>
                    <div class="List">
                        <ul>
                            <li>
                                <div class="NewsImg">
                                    <img src="./1.png">
                                </div>
                                <div class="News">
                                    <div class="Title">世界卫生组织：还没到宣布新观大流行结束的时候</div>
                                    <div class="Description">水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水</div>
                                    <div class="Bottom">
                                        <div class="PulishTime">1小时前</div>
                                        <div class="Share">
                                            <i class="iconfont">&#xe624</i>
                                            <span>分享</span>
                                        </div>
                                        <div class="Views">
                                            <i class="iconfont">&#xe627</i>
                                            <span>395</span>
                                        </div>
                                    </div>
                                </div>
                             </li>
                            <li><div class="rankIcon-num2">2</div><a href="#">水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水</a></li>
                            <li><div class="rankIcon-num3">3</div><a href="#">江泽民伟大光辉的一生</a></li>
                            <li><div class="rankIcon">4</div><a href="#">江泽民伟大光辉的一生</a></li>
                            <li><div class="rankIcon">5</div><a href="#">江泽民伟大光辉的一生</a></li>
                            <li><div class="rankIcon">6</div><a href="#">江泽民伟大光辉的一生</a></li>
                            <li><div class="rankIcon">7</div><a href="#">江泽民伟大光辉的一生</a></li>
                            <li><div class="rankIcon">8</div><a href="#">江泽民伟大光辉的一生</a></li>
                            <li><div class="rankIcon">9</div><a href="#">江泽民伟大光辉的一生</a></li>
                            <li style="border-bottom-style:none;"><div class="rankIcon">10</div><a href="#">江泽民伟大光辉的一生</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="fixed-bar">
                    <a class="item refresh" href="#"><i class="iconfont">&#xe641</i><span>刷新</span></a>
                    <a class="item" href="#"><span class="txt" style="display:block;margin-top:10px">用户<br>反馈</span></a>
                    <a class="item" href="#"><i class="iconfont" style="display:block;padding-top:15px">&#xe62c</i></a>
                </div>
            </div>
        </div>
    </div>


    </body>
</html>