@{
    string UserName = (string)ViewData["Username"];
}
@*<div>未搜索到相关内容</div>*@
<html lang="en">
<head>
    <script src="/lib//jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/Home-Search.css" asp-append-version="true" />
</head>
<body>
    <div class="NewsList">
        <div class="List">
            <ul>   
                @if (ViewBag.SearchNews != null)
                {
                    @for (int i = 0; i < ViewBag.SearchNews.Count; i++)
                    {
                        <a class="RecList"
                   href="/NewsPage/?Column=@ViewBag.SearchNews[i].Column&Id=@ViewBag.SearchNews[i].Id"
                   style="display:true">
                        <li>
                            <div class="NewsImg">
                                <img src="~/@ViewBag.SearchNews[i].Picture">
                            </div>
                            <div class="News">
                                <div class="Title">@ViewBag.SearchNews[i].Title</div>
                                <div class="Description">@ViewBag.SearchNews[i].Content</div>
                                <div class="Bottom">
                                    <div class="PulishTime">@ViewBag.SearchNews[i].Date</div>
                                    <div class="Share">
                                        <i class="iconfont">&#xe624</i>
                                        <span>分享</span>
                                    </div>
                                    <div class="Views">
                                        <i class="iconfont">&#xe627</i>
                                        <span>@ViewBag.SearchNews[i].Heat</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        </a>
                    }
                }
            </ul>
            @if (ViewBag.SearchNews.Count == 0)
            {
             <div style="text-align:center;font-size:25px">未搜索到相关内容</div>   
            }
        </div>
    </div>
</body>
</html>
