@{
}
<div>未搜索到相关内容</div>
<div class="List">
    <ul>
        <li>
            <div class="NewsImg">
                <img src="./1.png">
            </div>
            <div class="News">
                <div class="Title">世界卫生组织：还没到宣布新观大流行结束的时候</div>
                <div class="Description">水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水</div>
                <div class="Bottom">
                    <div class="PulishTime">1小时前</div>
                    <div class="Share">
                        <i class="iconfont">&#xe624</i>
                        <span>分享</span>
                    </div>
                    <div class="Views">
                        <i class="iconfont">&#xe627</i>
                        <span>395</span>
                    </div>
                </div>
            </div>
        </li>
        <li><div class="rankIcon-num2">2</div><a href="#">水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水</a></li>
        <li><div class="rankIcon-num3">3</div><a href="#">江泽民伟大光辉的一生</a></li>
        <li><div class="rankIcon">4</div><a href="#">江泽民伟大光辉的一生</a></li>
        <li><div class="rankIcon">5</div><a href="#">江泽民伟大光辉的一生</a></li>
        <li><div class="rankIcon">6</div><a href="#">江泽民伟大光辉的一生</a></li>
        <li><div class="rankIcon">7</div><a href="#">江泽民伟大光辉的一生</a></li>
        <li><div class="rankIcon">8</div><a href="#">江泽民伟大光辉的一生</a></li>
        <li><div class="rankIcon">9</div><a href="#">江泽民伟大光辉的一生</a></li>
        <li style="border-bottom-style:none;"><div class="rankIcon">10</div><a href="#">江泽民伟大光辉的一生</a></li>
    </ul>
</div>